.blurred-title {
  backdrop-filter: blur(8px);
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);

  &.visible {
    opacity: 1;
    box-shadow: 0 2px 15px rgba(112, 110, 110, 0.2);
  }
}
