.blurred-bg {
  backdrop-filter: blur(8px);
  background-color: black;
  transition: all 600ms ease-in-out;
  box-shadow: 0 2px 15px rgba(218, 212, 212, 0.2);

  &.visible {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.custom-tab {
  position: relative;
  overflow: visible;
  & .show-indicator {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    position: absolute;
    bottom: 4px;
    height: 2px;
    background: #1ed760;
  }
}
